certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
humanize==3.2.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pony==0.7.14
python-terraform==0.10.1
redis==3.5.3
requests==2.25.1
tqdm==4.55.1
urllib3==1.26.2
Werkzeug==1.0.1
